body {
	background-color: grey;
}

.navbar .logo {
	margin-left: 20px;
	font-size: 20px;
}

.navbar .logo i {
	font-style: normal;
}
.navbar form {
	margin-right: 130px;
}

.navbar form input {
	width: 550px;
}

.navbar form button:hover {
	background-color: #bbbbbb;
	color: black;
}

.navbar button:hover {
	background-color: white;
	color: #7face9;
}
